

body{
    background-image: url(img/background.png);
    position: absolute;
width: 0;
height: 0;

}

.logo{
    position: absolute;
width: 1083px;
height: 30px;
left: 99px;
top: 71px;

}
main section{
  display: flex;
  align-items: center;

 

  position: absolute;
width: 1092px;
height: 283px;
left: 99px;
top: 202px;
}
h1{
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
    text-align: center;
 position: absolute;
left: 500px;
right: 89px;
top:;
bottom:215px;

word-spacing: 5px;
width: 505px;
height: 40px;

gap:5px ;

font-family: 'JetBrains Mono';
font-style: normal;

}
p{
    position: absolute;
left: 45.47%;
right: 7.34%;
top: 90px;
bottom: 245px;



width: 604px;
height: 168px ;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

color: #C2C2C2;

mix-blend-mode: normal;
}


span{
    color: #00BFA6;
}
p{
    
color: #C2C2C2;

}













#cadiado{
    position: absolute;
width: 51px;
height: 62px;
left: 20px;
top: 638px;
}
.linha{
    position: absolute;
width: 568px;
height: 55px;
left: 356px;
top: 642px;

}