body{
    background-image: url(img/background.png);
    position: absolute;
width: 0;
height: 0;


}
.logo{
    
top: 71px;
right: 98px;
bottom: 619px;
left: 99px;

}
div section{
    border: 1px solid red;
    position: absolute;
width: 1092px;
height: 283px;
left: 99px;
top: 202px;

  
}
h1{
 border: 1px ;
 color: white;

width: 609px;
height: 80px;
  
align-items: center;
   
position: absolute;
left: 720px;
right: 89px;
top: 44px;
bottom:  208px;
    
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
mix-blend-mode: normal;
}


span{
    color: #00BFA6;
}
p{
    border: 1px solid red;

width: 604px;
height: 168px;
 
top: 80px;
left: 500px;
right: 50px;
bottom: 100px;



color: #C2C2C2;

}
#cadiado{
    position: absolute;
width: 51px;
height: 62px;
left: 20px;
top: 638px;
}
.linha{
    position: absolute;
width: 568px;
height: 55px;
left: 356px;
top: 642px;

}